@import "fonts/stylesheet.css";
body {
    margin: 0px;
}

#recipiente {
    width: 800px;
    height: 800px;
    border: 1px solid #d3d3d3;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#f6f1b2), to(#4599b2));
    background-image: -webkit-linear-gradient(#f6f1b2, #4599b2);
    background-image: -moz-linear-gradient(#f6f1b2, #4599b2);
    background-image: -o-linear-gradient(#f6f1b2, #4599b2);
    background-image: linear-gradient(#f6f1b2, #4599b2);
    position: relative;
}
#cabecalho {
    float:right;
    position: relative;
    display: block;
}
#acai{
    color: #d027aa;
}
.preco {
    position: absolute;
    right: 0px;
}
#lateral{
    float: left;
    position:absolute; 
    display: block;
}
#texto-cardapio{
    transform: rotate(270deg);
    position: relative;
    top: 205px;
    right: 88px;
    font-size: 48px;
    font-family: "Verdana";
    font-weight: bold;
    color: #333;
}
img[src="images/siri.png"] {
    position:relative; left: -10px; top:17px;
    float: left;
    
}
img[src="images/bolhas.png"]{
    float: left;
    position:relative;
    top: 237px;
    right: -43px;
}
img[src="images/peixe.png"]{
    float:left;
    position:relative;
    right: 133px;
    top: 457px;
}
h1{
    font-family: "Ravie";
    font-size: 36px;
    color: #e90c0c;
    position: relative; right: 20px;
    margin-bottom: 0px;
}
h3 {
    font-size: 18px;
    font-weight: bold;
}
#subtitulo{
    font-family: "Trebuchet MS";
    font-size: 24px;
    color: #333;
    position: relative;left:167px;
    margin: 0px;
    font-weight: normal;
}
#cardapio{
    box-sizing:border-box;
    clear: both;
    width: 646px;
    position: relative; left: 154px;
    border: 1px solid #aac0ae;
    font-family: "Verdana";
    font-size: 14px;
    line-height: 2;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 50px;
}
#rodape {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 685px;
    bottom: 65px;
}

#ticket {
    position: absolute;
    top: 295px;
    left: -70px;
}
#ticket:hover {
    left:0px;
}