@import "fonts/stylesheet.css";


#recipiente {
    width: 800px;
    height: 800px;
    border: 1px solid #d3d3d3;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#f6f1b2), to(#4599b2));
    background-image: -webkit-linear-gradient(#f6f1b2, #4599b2);
    background-image: -moz-linear-gradient(#f6f1b2, #4599b2);
    background-image: -o-linear-gradient(#f6f1b2, #4599b2);
    background-image: linear-gradient(#f6f1b2, #4599b2);
    position: relative; top: 0px;
}

#cabecalho {
    float:right;
    position: relative;
    display: block;
}
#acai{
    color: #d027aa;
}

#lateral{
    float: left;
    width:154px;
    position:relative;
    display: inline-block;
}
#texto-cardapio{
    clear:both;
    position: relative; top: 190px;
    transform: rotate(270deg);
    font-size: 48px;
    font-family: "Verdana";
    font-weight: bold;
    color: #333;
    display: block;
}
img[src="images/siri.png"] {
    clear:both;
    position:relative; left: -10px; top:17px;
    display:block;
}
img[src="images/bolhas.png"]{
    clear:both;
    float: left;
    position:relative;
    top: 207px;
    left: 42px;
    display: block;
}
img[src="images/peixe.png"]{
    clear:both;
    float:left;
    position:relative;
    left: -44px;
    top: 222px;
    display: block;
}
h1{
    font-family: "Ravie";
    font-size: 36px;
    color: #e90c0c;
    position: relative; right: 70px;
    margin-bottom: 0px;
}
h3 {
    font-size: 18px;
    font-weight: bold;
}
#subtitulo{
    font-family: "Trebuchet MS";
    font-size: 24px;
    color: #333;
    position: relative;left:120px;
    margin: 0px;
    font-weight: normal;
}
#cardapio{
    box-sizing:border-box;
    clear: both;
    width: 646px;
    position: relative;
    display: inline-block;
    border: 1px solid #aac0ae;
    font-family: "Verdana";
    font-size: 14px;
    line-height: 2;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 50px;
}
.preco {
    position: absolute;
    right: 0px;
}
#rodape {
    background-color: #fff0;
    display:block;
    float: right;
    position: relative;
    top: 45;
    right: 15px;
}

#ticket {
    position: absolute;
    top: 295px;
    left: -70px;
}
#ticket:hover {
    left:0px;
}